In [64]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import PatternFill
import os
import datetime as dt

In [65]:
"""Shift Admin Buddy.  Designed to give schedule stats

input: Group Shift stats in excel format
output: Excel format?

Sheet with Holiday stats, for last 2 years starting fiscal 4th quarter, 10/1

Include Major holidays, minor holidays, weekends, nights

"""

'Shift Admin Buddy.  Designed to give schedule stats\n\ninput: Group Shift stats in excel format\noutput: Excel format?\n\nSheet with Holiday stats, for last 2 years starting fiscal 4th quarter, 10/1\n\nInclude Major holidays, minor holidays, weekends, nights\n\n'

In [66]:
# For input in excel format.  
# Should denote when file was uploaded?
# Potentially add in Main rose sites later, but for now only NH

def return_path():
    inp1 = input(f"Please input location path of group shift stats: ")
    path1 = os.path.abspath(inp1.strip(' \"'))

    return fr"{path1}"
df = pd.read_excel(return_path() , header=1)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6399 entries, 0 to 6398
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Provider   6399 non-null   object
 1   Facility   6399 non-null   object
 2   Shift      6398 non-null   object
 3   Date       6398 non-null   object
 4   Day        6398 non-null   object
 5   Time       6398 non-null   object
 6   Work Hrs   6398 non-null   float64
 7   Sched Hrs  6398 non-null   float64
 8   Comments   52 non-null     object
dtypes: float64(2), object(7)
memory usage: 450.1+ KB

In [68]:
df.Date.isna().sum()

1

In [69]:
# removes NaN, sets it to df
df = df.query('not Date.isna()').reset_index(drop=True)

In [70]:
df.columns

Index(['Provider', 'Facility', 'Shift', 'Date', 'Day', 'Time', 'Work Hrs',
       'Sched Hrs', 'Comments'],
      dtype='object')

In [71]:
df = df.rename(columns={
    'Work Hrs' : 'Work_hrs',
    'Sched Hrs': 'Scheduled_hrs',
})

In [72]:
df.tail(3)

,Provider,Facility,Shift,Date,Day,Time,Work_hrs,Scheduled_hrs,Comments
6395,Shuai Zhao,SRDHWF,F.N,10/21/2023,Sat,7p - 7a,12.0,12.0,NaN
6396,Shuai Zhao,SRDHWF,F.D,11/11/2023,Sat,7a - 7p,12.0,12.0,NaN
6397,Shuai Zhao,SRDHWF,F.D,11/16/2023,Thu,7a - 7p,12.0,12.0,NaN

In [73]:
df.Date = pd.to_datetime(df.Date)       #change Date to datetime dtype
df['Time'] = df['Time'].astype(str)     #Ensure df.Time is a str
df.Provider = df.Provider.str.title()\
    .astype(str)                        #Format Provider names to be title()

In [96]:
df.Date.min().strftime('%Y-%m-%d')

'2021-11-24'

In [75]:
df.query('not Time.str.startswith("7")')

,Provider,Facility,Shift,Date,Day,Time,Work_hrs,Scheduled_hrs,Comments
2,Franklin Alconcel,SRDHBD,B.N,2022-08-26,Fri,6:30p - 7a,12.5,12.5,NaN
166,Franklin Alconcel,SRDHWF,F.N,2023-02-16,Thu,5p - 7a,14.0,12.0,NaN
208,Lance Allgower,SRDHBD,B.D,2022-06-14,Tue,1p - 7p,6.0,6.0,NaN
232,Lance Allgower,SRDHWF,F.D,2022-02-14,Mon,4:30a - 7p,14.5,12.0,NaN
237,Lance Allgower,SRDHWF,F.D,2023-04-11,Tue,1:30p - 7p,5.5,5.5,NaN
...,...,...,...,...,...,...,...,...,...
6153,Harold Woo,SRDHBD,B.D,2023-11-29,Wed,4a - 7p,15.0,15.0,NaN
6178,Harold Woo,SRDHNL,C.N,2022-10-25,Tue,6:30p - 7a,12.5,13.0,NaN
6194,Harold Woo,SRDHNL,C.N,2023-04-29,Sat,5p - 7a,14.0,14.0,NaN
6225,Harold Woo,SRDHS,S.D,2022-08-03,Wed,6a - 7p,13.0,13.0,NaN
6304,Harold Woo,SRDHWF,F.D,2022-11-12,Sat,5:30p - 7p,1.5,1.5,NaN

In [76]:
df.Time.value_counts().head(50)

7p - 7a        3085
7a - 7p        3013
7a - 8p          37
7a - 1p          28
1p - 7p          27
7p - 8a          19
7a - 7:30p       11
6p - 7a           9
7a - 6p           9
7p - 7:30a        9
7a - 8:30p        8
7a - 11a          7
7a - 7:45p        5
7a - 5p           5
7a - 2p           5
6:30p - 7a        5
11a - 7p          4
2p - 7p           4
7p - 9a           4
7a - 9p           4
5p - 7a           4
8p - 7a           4
7:30a - 7p        3
4p - 7a           3
7a - 1:30p        2
7a - 7:15p        2
10a - 7p          2
7a - 4p           2
5p - 7p           2
10a - 4p          2
7p - 6a           2
7a - 12p          2
7:30p - 7a        2
7a - 6:30p        2
10p - 7a          2
7:15a - 7p        2
12p - 7p          2
1:30p - 7p        2
6:30a - 7p        2
7a - 5:30p        2
7p - 8:30a        1
7p - 1a           1
10a - 10p         1
10a - 1:30p       1
7a - 10p          1
9:45a - 7p        1
8a - 7p           1
6a - 4p           1
7a - 11p          1
7:15p - 7a        1
Name: Time, dtype: int64

In [77]:
df.Shift.value_counts()

S.D           812
B.D           806
F.D           803
C.D           798
F.N           796
C.N           793
B.N           792
S.N           791
S.Float         2
N.Float         2
B.Float         2
Cr_Retreat      1
Name: Shift, dtype: int64

In [78]:
df.Comments.unique()

array([nan, 'Worked time change: No relief in AM.',
       'Worked time change: High volume dispo of patients',
       'Worked time change: Complex laceration / nail procedure',
       'Worked time change: Dispo of patients/ patient care',
       'Worked time change: Stab wound to the chest at the end of the shift. Needed Chest tube, stabilization and transfer',
       'Worked time change: Only 6 hours',
       'Worked time change: reducing an end of shift shoulder dislocation',
       'Worked time change: Slaughter late coming in',
       'Worked time change: LaCalle late',
       'Worked time change: Came in 1 hr early to relieve farino. Bennett 15 min late',
       'Worked time change: Relieved sheep 1hr early',
       'Time change comment: AP coverage at NLV',
       'Worked time change: Relieved Dr. Jobes early.',
       'Worked time change: Relief late',
       'Worked time change: orienting new provider',
       'Worked time change: Started to relieve Rushton early',
       'Worked time change: Large bolus, stayed to help out with volumes and dispos',
       'Worked time change: stayed to dispo',
       'Worked time change: high volumes.  stayed to help',
       'Worked time change: Day doc arrived late',
       'Worked time change: stayed to help discharge patients',
       'Worked time change: End of shift surge.  Stayed to care for patient; Worked time change: End of shift surge.  Stayed to care for patient',
       'Worked time change: stayed to actively care for patients during a surge',
       'Worked time change: Stayed to dispo patients',
       'Worked time change: High volume day and stayed to care for PTs',
       'Worked time change: stayed to dispo patients',
       'Worked time change: High volume',
       'Worked time change: stayed for patient care',
       'Worked time change: busy day and stayed to disposition patients',
       'Worked time change: Stayed to provide patient care',
       'Worked time change: Stay to provide patient care',
       'Worked time change: clinical rush at end of shift and stayed to dispo and help night doc',
       'Worked time change: High acuity at end of shift and stayed to care for patient',
       'Worked time change: stayed to help dspo',
       'Worked time change: 50 patients and stayed to assist night doc',
       'Worked time change: High volume day and stayed to manage flow',
       'Worked time change: miserable day. high volume , high transfer, high procedure and stayed to manage patients',
       'Worked time change: stayed to provide patient care',
       'Worked time change: stayed to dispo patients; Worked time change: stayed to dispo patients',
       'Worked time change: stayed to disposition patients',
       'Worked time change: direct patient care',
       'Worked time change: Busy day and stayed to dispo patients',
       'Worked time change: Stayed to care for patients',
       'Worked time change: Stayed til 11p so Ren could come in at 11p',
       'Worked time change: Tension PTX and Cardioversions X 2',
       'Time change comment: Thanks for coming in at 6pm',
       'Worked time change: Covered for Dr. Kim who ran late'],
      dtype=object)

In [79]:

grouped = df.sort_values(by='Date').reset_index(drop=True)
grouped.tail()

,Provider,Facility,Shift,Date,Day,Time,Work_hrs,Scheduled_hrs,Comments
6393,Anne Sinnott,SRDHS,S.N,2023-11-30,Thu,7p - 7a,12.0,12.0,NaN
6394,Michael Blum,SRDHNL,C.D,2023-11-30,Thu,7a - 7p,12.0,12.0,NaN
6395,Jason Klein,SRDHBD,B.N,2023-11-30,Thu,7p - 7a,12.0,12.0,NaN
6396,Krystal Ribeiro,SRDHS,S.D,2023-11-30,Thu,7a - 7p,12.0,12.0,NaN
6397,John Kim,SRDHNL,C.N,2023-11-30,Thu,7p - 7a,12.0,12.0,NaN

In [80]:
# GROUP OF FXNS returning dates
def get_thanksgiving_date(year):
    # Start with November 1st of the given year
    date = dt.date(year, 11, 1)

    # Find the first Thursday
    while date.weekday() != 3:  # Thursday is represented by 3
        date += dt.timedelta(days=1)
    # Add three weeks to get to the fourth Thursday (Thanksgiving)
    date += dt.timedelta(weeks=3)

    return date

def get_thanksgiving_eve_date(year):
    date = get_thanksgiving_date(year) 
    date -= dt.timedelta(days=1)
    return date

def get_christmas_eve_date(year):
    # Add year to 12-24 
    return dt.date(year, 12, 24)

def get_christmas_date(year):
    # Add year to 12-25
    return dt.date(year, 12,25)

def get_new_years_eve_date(year):
    return dt.date(year, 12,31)

def get_new_years_date(year):
    # returns the NEXT year 
    year += 1
    return dt.date(year, 1, 1)
    
def get_mothers_day_date(year):

    date = dt.date(year, 5, 1)
    #first Sunday in may as 6
    while date.weekday() != 6:
        date += dt.timedelta(days=1)
    # add one week to get to 2nd sunday in may
    date += dt.timedelta(weeks=1)
    return date

def get_halloween_date(year):
    return dt.date(year, 10, 31)

In [81]:
# save holiday dates.  
major_holidays = [
    get_thanksgiving_date,
    get_thanksgiving_eve_date,
    get_christmas_eve_date,
    get_christmas_date,
    get_new_years_eve_date,
    get_new_years_date,]

minor_holidays = [
    get_mothers_day_date,
    get_halloween_date,
]

def get_datelist_asstring(holiday_list_fxns, year):
    date_list_asstring=[]
    for fxn in holiday_list_fxns:
        date_list_asstring.append(fxn(year).strftime('%Y-%m-%d'))
    return date_list_asstring

datelist = get_datelist_asstring(major_holidays, 2021)

print(datelist)
# groupby dates. 

# concat minor holidays (if desired)
# stats on holidays worked
    #

['2021-11-25', '2021-11-24', '2021-12-24', '2021-12-25', '2021-12-31', '2022-01-01']

In [98]:
beg_date = '2021-10-30'
end_date = '2021-12-20'

date_range= pd.date_range(start=beg_date, end=end_date)

for d in datelist:
    print(d in date_range)

True
True
False
False
False
False

In [82]:
def concat_df(df_1, df_2):
    return  pd.concat([df_1, df_2], axis= 0)

def query_df(date):
    date = date
    return df.query('Date == @date')

# query/filter  major holidays
def compile_df_in_datelist(datelist):
    df = query_df(datelist[0])
    for date in datelist[1:]:
        df = concat_df(df, query_df(date))
    return df

df = compile_df_in_datelist(datelist)  #  IT WORKS
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 434 to 6101
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provider       48 non-null     object
 1   Facility       48 non-null     object
 2   Shift          48 non-null     object
 3   Date           48 non-null     datetime64[ns]
 4   Day            48 non-null     object
 5   Time           48 non-null     object
 6   Work_hrs       48 non-null     float64
 7   Scheduled_hrs  48 non-null     float64
 8   Comments       1 non-null      object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 3.8+ KB

In [83]:
def value_count_Provider(df_t):
    df_t = df_t.sort_values(by='Provider')
    df_t = df_t.reset_index(drop=True) 
    df_t = df_t.Provider
    return df_t.value_counts()

In [84]:
print(value_count_Provider(df))

Jason Jones          5
Norlan Maltez        4
Patricia Kahn        4
Patrick Noone        4
Sabrina Taylor       4
Sagar Patel          4
Anne Sinnott         3
Jason Klein          3
John Jobes           3
Joseph Kim           3
Adam Berkovits       2
Harold Woo           2
Joshua Imakyure      2
Krystal Ribeiro      2
William Halacoglu    2
Irena Vitkovitsky    1
Name: Provider, dtype: int64

In [89]:
# sorts a concatenated list by Provider
# resets the index
# Filters only the Provider column
# and value_counts the provider.  
df.sort_values(by='Provider').reset_index(drop=True)\
    .Provider.value_counts()

Jason Jones          5
Norlan Maltez        4
Patricia Kahn        4
Patrick Noone        4
Sabrina Taylor       4
Sagar Patel          4
Anne Sinnott         3
Jason Klein          3
John Jobes           3
Joseph Kim           3
Adam Berkovits       2
Harold Woo           2
Joshua Imakyure      2
Krystal Ribeiro      2
William Halacoglu    2
Irena Vitkovitsky    1
Name: Provider, dtype: int64